<%- include('partials/header') %>

    <form action="/patch" method="POST">
        <!-- Hidden field to pass the post index -->
        <input type="hidden" name="index" value="<%= index %>">
    
        <label for="content">Edit Content:</label>
        <textarea id="content" name="content" rows="6"><%= post.content %></textarea>
    
        <button type="submit">Save Changes</button>
      </form>
    
      <a href="/">Back to Home</a>
    
<%- include('partials/footer') %>